.ant-layout-content {
    background-color: #333;
}

.wrap{width: 1920px; margin: auto; background-color: #333;
    z-index: -1; font-family: 'Noto Sans KR', sans-serif;}
   
    
    
    /* 배경 안에 들어가는 콘텐츠 배경 및 css 작업 내역 */
    
    .wrap_content{background-color: white; width: 1600px; margin: auto;}
    
    /* com2us 로고가 들어가는 공간 이미지 편집 */
    
    .main_logo_visual{text-align: center; padding-top:30px; padding-bottom: 50px }
    .main_logo_visual img{width: 300px;}
    
    .main_visual_img{width: 1600px; height: 700px; background-image: url('../Images/visual_img.jpg'); background-repeat: no-repeat; background-position: top; background-size: cover;}
    
    /* final match resut 부분이 들어가는 곳 css 작업내역 */
    
    /*background_color  적용해줘야 하는 곳 */
    .background_color{background-color: #999; width: inherit; height: 700px;z-index: -1;}
    .content_01{padding-top: 50px; padding-left: 180px;}
    
    
    
    /* 이미지가 들어가야 하는 곳 */
    .content_02{display: flex;position: relative; margin-top: -500px; justify-content: space-between;} 
    .content_02_01_banner{
        width: 650px; 
        height: 1000px; 
        border-radius: 150px 0px 0px 0px;
        background-image: url('../Images/Hansol_finalmember.png'); 
        background-repeat:no-repeat;
        background-size: contain; 
        background-position: top; 
        z-index: 2;
    }
    
    .content_02_02_banner{
        width: 650px; 
        height: 1000px; 
        border-radius: 0px 150px 0px 0px;
        background-image: url("../Images/Afreeca_finalmember.png"); 
        background-repeat:no-repeat;
        background-size: contain; 
        background-position: top;
    }
    
    
    /* 스코어?! 점수 들어가는 공간 css 작업 내역*/
    
    .count p{padding-top: 550px; font-size: 50px; font-weight: bold; color: #333;}
    
    /* mvp: 전태풍이랑 한솔 레미콘이 들어가는 css 작업 내역 _ 전체적인 부분*/
    .content_03{ position: relative; display: flex; justify-content: center; margin-top: -150px;  padding-bottom: 200px;}
    
    
    /* mvp, 한솔레미콘 말풍선이 들어가는 css 작업내역 */
    
    .flex_col img{display: flex; margin: auto;}
    
    
    /*우승팀 말풍선에 들어갈 css 작업 내역 */
    .flex_col p{ margin-top: 50px; background-image: url('../Images/black_say.png');
    width: 540px; height: 220px; padding-top: 30px; padding-left: 20px;
    padding-right: 20px; background-repeat: no-repeat; color: white;
     font-weight: 100;  text-align: left; 
    } 
    
    .flex_col span{font-weight: bold; font-size: 25px;}
    
    /* 전태풍 말풍선에 들어갈 css 작업 내역 */
    .flex_col_02 p{ margin-top: 50px; background-image: url('../Images/gray_say.png');
    width: 600px; height: 202px; padding-top: 20px; padding-left: 20px; background-position: top; background-size: contain;
    padding-left: 90px; background-repeat: no-repeat; color: white;
     font-weight: 100; margin-bottom: 50px;  text-align: left; 
    } 
    
    .flex_col_02 span{font-weight: bold; font-size: 25px;}
    
    
    /* 유튜브 영상과 관련된 css 작업내역*/
    .video_box{display: flex; justify-content: center; margin-top: -100px; margin-bottom: 200px;}
    
    
    /*footer css 작업 내역*/
    .footer {background-image: url('../Images/footer.png');  height: 400px; position: relative;
    background-position: center;}