.layout {
  height: max-content;
}
.Header{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.ant-menu {
  width: 100%;
  text-align: center;
  
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  margin-right: 0;
  background: rgb(119, 32, 32);
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: rgb(119, 32, 32);
}
.Header ul {
   font-size: 1vw;
}

element.style {
  margin: 0px 0px 0px;
}
#components-layout-demo-top .logo {
  background: transparent;
}
