/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/
@media (min-width: 1281px) {
    .PlayerRanking_Container {
        width: 100%;
        background-image: url('../Images/back_long.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }
    
    .item {
        width: 960px;
        height: 1920px;
        margin-top: 40vh;
    }

}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    .PlayerRanking_Container {
        width: 100%;
        background-image: url('../Images/back_long.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }
    
    .item {
        width: 960px;
        height: 1920px;
        margin-top: 40vh;
    }
    
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .PlayerRanking_Container {
        width: 100%;
        background-image: url('../Images/back_long.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }
    
    .item {
        width: 960px;
        height: 1920px;
        margin-top: 40vh;
    }
    
}
    
/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 100px에서 479px 사이
*/
@media (min-width: 100px) and (max-width: 480px) {

    .PlayerRanking_Container {
        width: 100%;
        background-image: url('../Images/back_long.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }
    
    .item{
        width: 350px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 40vh;
    }

}