/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media (min-width: 1281px) {
.Team_Container {
    width: 100%;
    background-image: url('../Images/team-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.under_box_total{
    display:relative;
    padding-Top:900px ;
    width: 60%;
    height:4405px;
    margin-Left:auto;
    margin-Right:auto;
}

.TeamBOX{
    width: 100%;
    height: 12.5%;
    background-image: url('../Images/Team_Descente.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    margin-top: 15px;
}

#box1{
    background-image: url('../Images/Team_Descente.png');
}
#box2{
    background-image: url('../Images/Team_Bacchus.png');
}
#box3{
    background-image: url('../Images/Team_Hansol.png');
}
#box4{
    background-image: url('../Images/Team_afreeca.png');
}
#box5{
    background-image: url('../Images/Team_Hanwool.png');
}
#box6{
    background-image: url('../Images/Team_Scorecenter.png');
}

    
}
    



/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/    
@media (min-width: 1025px) and (max-width: 1280px) {
    
    .Team_Container {
        width: 100%;
        background-image: url('../Images/team-bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .under_box_total{
        display:relative;
        padding-Top:900px ;
        width: 60%;
        height:4405px;
        margin-Left:auto;
        margin-Right:auto;
    }
    
    .TeamBOX{
        width: 100%;
        height: 12.5%;
        background-image: url('../Images/Team_Descente.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    
    #box1{
        background-image: url('../Images/Team_Descente.png');
    }
    #box2{
        background-image: url('../Images/Team_Bacchus.png');
    }
    #box3{
        background-image: url('../Images/Team_Hansol.png');
    }
    #box4{
        background-image: url('../Images/Team_afreeca.png');
    }
    #box5{
        background-image: url('../Images/Team_Hanwool.png');
    }
    #box6{
        background-image: url('../Images/Team_Scorecenter.png');
    }
    
}
    
/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/   
@media (min-width: 768px) and (max-width: 1024px) {
    
    .Team_Container {
        width: 100%;
        height: 1400px;
        background-image: url('../Images/team-bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .under_box_total{
        display:relative;
        padding-Top:30%;
        width:60%;
        height:1400px;
        margin-Left: auto;
        margin-Right: auto;
    }
    
    .TeamBOX{
        width: 100%;
        height: 15%;
        background-image: url('../Images/Team_Descente.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    
    #box1{
        background-image: url('../Images/Team_Descente.png');
    }
    #box2{
        background-image: url('../Images/Team_Bacchus.png');
    }
    #box3{
        background-image: url('../Images/Team_Hansol.png');
    }
    #box4{
        background-image: url('../Images/Team_afreeca.png');
    }
    #box5{
        background-image: url('../Images/Team_Hanwool.png');
    }
    #box6{
        background-image: url('../Images/Team_Scorecenter.png');
    }
    
    
}


/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/
@media (min-width: 481px) and (max-width: 767px) {
    
    .Team_Container {
        width: 100%;
        height: 1400px;
        background-image: url('../Images/team-bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .under_box_total{
        display:relative;
        padding-Top:30%;
        width:60%;
        height:1400px;
        margin-Left: auto;
        margin-Right: auto;
    }
    
    .TeamBOX{
        width: 100%;
        height: 15%;
        background-image: url('../Images/Team_Descente.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    
    #box1{
        background-image: url('../Images/Team_Descente.png');
    }
    #box2{
        background-image: url('../Images/Team_Bacchus.png');
    }
    #box3{
        background-image: url('../Images/Team_Hansol.png');
    }
    #box4{
        background-image: url('../Images/Team_afreeca.png');
    }
    #box5{
        background-image: url('../Images/Team_Hanwool.png');
    }
    #box6{
        background-image: url('../Images/Team_Scorecenter.png');
    }
    
    
}
    


/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/
@media (min-width: 320px) and (max-width: 480px) {
    
    
.Team_Container {
    width: 480px;
    background-image: url('../Images/team-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    justify-content: center;
}


.TeamBOX{
    width: 250px;
    height: 100px;
    background-image: url('../Images/Team_Descente.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#box1{
    background-image: url('../Images/Team_Descente.png');
}
#box2{
    background-image: url('../Images/Team_Bacchus.png');
}
#box3{
    background-image: url('../Images/Team_Hansol.png');
}
#box4{
    background-image: url('../Images/Team_afreeca.png');
}
#box5{
    background-image: url('../Images/Team_Hanwool.png');
}
#box6{
    background-image: url('../Images/Team_Scorecenter.png');
}

    
}


